@model CRISPR.Models.Prop

@{
    ViewData["Title"] = "Details";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<h1 class="details-header">Details</h1>

<div class="details-section">
    <h4>Prop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataSet)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.DataSet.id)
        </dd>
    </dl>
    <div class="button-container">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary edit-link">Edit</a>
        <a asp-action="Index" class="btn btn-secondary back-link">Back to List</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger delete-link">Delete</a>
    </div>
</div>