@model IEnumerable<CRISPR.Models.Model>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Models</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <a style="text-decoration: auto" href="@Url.Action("Details", new { id = item.id })" tabindex="0">
            <div class="card-content">
                <div title="@item.Title" class="card-title">@Html.DisplayFor(modelItem => item.Title)</div>
                <span title="@item.SubTitle" class="card-subtitle">@Html.DisplayFor(modelItem => item.SubTitle)</span>
                @*<span title="@item.Description" class="card-description">@Html.DisplayFor(modelItem => item.Description)</span>*@
            </div>
        </a>
        <div class="card-bottom">
            <div class="card-info">
                <span class="card-license">@Html.DisplayFor(modelItem => item.Licenses)</span>
                <span class="card-accuracy">Accuracy: @Html.DisplayFor(modelItem => item.Accuracy)</span>
            </div>
            <a href="@item.RepositoryURL" class="card-link" target="_blank">Repository</a>
        </div>
        @*<div class="card-buttons">
    <a asp-action="Edit" asp-route-id="@item.id" class="btn-edit btn btn-sm card-buttons-btn">Edit</a>
    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm card-buttons-btn">Delete</a>
    </div>*@
    </div>
}